.sisalto {
  max-width: 100%;
  margin-left: 260px;
  margin-right: auto;
  padding-top: 25px;
}

.addnote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 200px;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
}

.addheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

textarea {
  resize: none;
}

.notelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 15px;
  justify-content: center;
}

.note {
  display: flex;
  flex-direction: column;
  place-content: space-between;

  min-height: 200px;
  padding: 15px;
  border-radius: 5px;

  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
}

.notefooter {
  display: flex;
  flex-direction: row;
  place-content: space-between;
}

.notetag {
  display: flex;
  gap: 10px;
}

.note:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.notetitle {
  margin-block: 0px;
  font-size: 1.5em;
}

.remove {
  display: none;
  opacity: 50%;
  background-color: #ffffff;
  border: none;
  width: 28px;
  font-size: 1em;
}

.note:hover .notebody .uprow .remove {
  display: block;
}

.remove:hover {
  opacity: 100%;
  background-color: #d5d5d5;
  border-radius: 50%;
}

.uprow {
  display: flex;
  place-content: space-between;
}

.red {
  background-color: #F34440;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.orange {
  background-color: #F77F49;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.yellow {
  background-color: #F7BA63;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.green {
  background-color: #ACCF6A;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.blue {
  background-color: #51B2AF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.emptycolor {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #898989;
}

.colorpicker {
  position: absolute;
  z-index: 1;
  left: -26px;

  display: flex;
  gap: 5px;

  margin-top: 5px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.addtagbutton {
  display: flex;
  gap: 10px;

  min-width: 130px;

  padding: 5px
}

.addtagbutton:hover {
  background-color: #d5d5d5;
  border-radius: 10px;
  cursor: pointer;
}

.addtagcontainer {
  position: absolute;
  z-index: 1;

  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.taglist {
  padding-left: 0px;
}

.tagcontainer {
  display: flex;
  gap: 10px;

  min-width: 180px;

  padding: 5px;
}

.tagcontainer:hover {
  background-color: #d5d5d5;
  border-radius: 10px;
  cursor: pointer;
}

.tagcontainer:focus-within {
  background-color: #d5d5d5;
  border-radius: 10px;
  cursor: pointer;
}

.calendarcontainer {
  position: absolute;
  z-index: 1;

  width: 225px;
  min-height: 300px;

  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.monthpicker {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  border-bottom: 1px solid #d5d5d5;
}

.monthbutton {
  background-color: #ffffff;
  border: none;
  width: 31px;
  font-size: 1em;
  margin: 10px;
}

.monthbutton:hover {
  background-color: #d5d5d5;
  border-radius: 50%;
  cursor: pointer;
}

.monthbutton:disabled {
  background: none;
}

.weekdayindicator {
  text-align: center;
  height: 29px;
}

.calendardays {
  display: grid;
  grid-template-columns: repeat(7, auto);

  padding: 10px;
}

.day {
  height: 29px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.currentday {
  font-weight: bold;
}

.day:hover {
  background-color: #7d318d;
  color: #ffffff;
  border-radius: 50%;
}

.day:disabled {
  background: none;
  cursor: default;
  color: rgba(16, 16, 16, 0.3);
}

/* Kikkailua jotta napit ei välky */
.day:hover:after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  padding: 12px;
  margin-top: -7px;
  margin-left: -20px;
}

.calendartime {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 16px;
}

.timelabel {
  padding-right: 5px;
}

.timebox {
  text-align: center;
}

.calendarsubmit {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  margin: 16px;
}

.side_menu {
  position: fixed;
  background: rgb(255, 255, 255);
  width: 250px;
  height: 100%;
  border-right: 1px solid black;
  transition: width .2s ease-in;
}

.side_menu .logo {
  width: 45px;
  height: 45px;
  padding-top: 30px;
  margin-left: -20px;
}

.top-icon {
  margin-left: 40px;
}

.side_menu .menu_items li a{
  margin-left: 15px;
  position: fixed;
  padding-top: 40px;
  font-weight: 600;
}

.side_menu .menu_items li a:not(.active):hover{
  color: orange;
  font-weight: 800;
}

.side_menu.inactive{
  width: 85px;
}

.side_menu.inactive li a {
  font-size: 0;
}

.side_menu.inactive .logo:hover {
  color: orange;
}

ul {
  list-style-type: none;
}

.menu_items li {
  margin-top: 10px;
}

.muistutus_sivu h1{
  margin-left: 500px;
}


.roskakori_sivu h1{
  margin-left: 500px;
}

.Tunniste_sivu h1{
  margin-left: 500px;
}

.asetukset_sivu h1{
  margin-left: 500px;
}

/*side menu rules start*/
.side_menu .menu_items .menu_logo_item {
  width: 45px;
  height: 45px;
  margin-left: -35px;
  margin-top: -10px;
}


.side_menu .menu_items .text_item {
  margin-top: -37px;
}

.side_menu .menu_items .menu_logo_item_two {
  width: 45px;
  height: 45px;
  margin-left: -35px;
  margin-top: 70px;
}

.side_menu .menu_items .text_item_two {
  margin-top: 42px;
}

.side_menu .menu_items .menu_logo_item_three {
  width: 45px;
  height: 45px;
  margin-left: -35px;
  margin-top: 150px;
}

.side_menu .menu_items .text_item_three {
  margin-top: 122px;
}

.side_menu .menu_items .menu_logo_item_four {
  width: 45px;
  height: 45px;
  margin-left: -35px;
  margin-top: 230px;
}

.side_menu .menu_items .text_item_four {
  margin-top: 204px;
}

.side_menu .menu_items .menu_logo_item_five {
  width: 45px;
  height: 45px;
  margin-left: -35px;
  margin-top: 320px;
}

.side_menu .menu_items .text_item_five {
  margin-top: 295px;
}

.side_menu .menu_items a {
  color: black;
}

.side_menu .menu_items .active {
  color: rgb(68, 204, 68);
}

.side_menu .menu_items .not-active {
  color: black;
}
/*side menu rules end*/