.sisalto {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.addnote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 200px;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 900px;
  margin-bottom: 125px;

  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
}

.addheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

textarea {
  resize: none;
}

.notelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 15px;
  justify-content: center;
}

.note {
  display: flex;
  flex-direction: column;
  place-content: space-between;

  min-height: 200px;
  padding: 15px;
  border-radius: 5px;

  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
}

.note:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.notetitle {
  margin-block: 0px;
  font-size: 1.5em;
}

.remove {
  display: none;
  opacity: 50%;
  background-color: #ffffff;
  border: none;
  width: 28px;
  font-size: 1em;
}

.note:hover .notebody .uprow .remove {
  display: block;
}

.remove:hover {
  opacity: 100%;
  background-color: #d5d5d5;
  border-radius: 50%;
}

.uprow {
  display: flex;
  place-content: space-between;
}

.calendarcontainer {
  position: absolute;
  width: 225px;
  min-height: 300px;

  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.monthpicker {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  border-bottom: 1px solid #d5d5d5;
}

.monthbutton {
  background-color: #ffffff;
  border: none;
  width: 31px;
  font-size: 1em;
  margin: 10px;
}

.monthbutton:hover {
  background-color: #d5d5d5;
  border-radius: 50%;
}

.weekdayindicator {
  text-align: center;
  height: 29px;
}

.calendardays {
  display: grid;
  grid-template-columns: repeat(7, auto);

  padding: 10px;
}

.day {
  height: 29px;
  background-color: #ffffff;
  border: none;
}

.day:hover {
  background-color: #7d318d;
  color: #ffffff;
  border-radius: 50%;
}

.side_menu {
  position: fixed;
  background: rgb(255, 255, 255);
  width: 250px;
  height: 100%;
  border-right: 1px solid black;
  transition: width .2s ease-in;
}

.side_menu .logo {
  width: 40px;
  height: 40px;
  padding-top: 30px;
  margin-left: -20px;
}

.top-icon {
  margin-left: 40px;
}

.side_menu .menu_items li a{
  margin-left: 15px;
  position: fixed;
  padding-top: 40px;
  font-weight: 600;
}

.side_menu .menu_items li a:hover{
  color: orange;
  font-weight: 800;
}

.side_menu.inactive{
  width: 80px;
}

.side_menu.inactive li a {
  font-size: 0;
}

.side_menu.inactive .logo:hover {
  color: orange;
}

ul {
  list-style-type: none;
}

.menu_items li {
  margin-top: 10px;
}

.muistutus_sivu h1{
  margin-left: 500px;
}


.roskakori_sivu h1{
  margin-left: 500px;
}

.Tunniste_sivu h1{
  margin-left: 500px;
}

.asetukset_sivu h1{
  margin-left: 500px;
}

.menu_items a {
  text-decoration: none;
  font-weight: bold;
}