/*.sisalto {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}*/

.addnote {
  display: flex;
  flex-direction: column;

  min-height: 200px;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;

  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px;
}

textarea {
  resize: none;
}

.notelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 10px;
}

.note {
  display: flex;
  flex-direction: column;
  place-content: space-between;

  min-height: 200px;
  padding: 15px;
  border-radius: 5px;

  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px;
}

.uprow {
  display: flex;
  place-content: space-between;
}